a:hover{
	text-decoration: none;
}
.gap{
	min-height: 40px;
}
.white-container{
	padding: 10px;
	background-color: #fff;
	overflow: hidden;
	margin-bottom: 10px;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: #E5E6E9 #DFE0E4 #D0D1D5;
}
.something{
	color: #000;
}