.hud{
	background-color: #fff;
	border-radius: 4px;
	height: 150px;
	box-shadow: 1px 1px 2px #bbb;
	margin: 0 15px 15px 0;
	
}
.hud:hover{
	background-color: #fff;
	border-radius: 4px;
	height: 150px;
	box-shadow: 1px 1px 2px #bbb;
	margin: 0 15px 15px 0;
}
.hud-title{
	opacity: .7;
	font-family: 'Open Sans', sans-serif;
}
.hud-info{
	font-size: 5em;
	font-weight: 100;
	font-family: 'Open Sans', sans-serif;
}